pyvene
models
**/*/__pycache__
*.pyc
wandb
nlprun_fast.py
data/
*.pdf
*.out
.env

.ruff_cache/

# Alternatively, you can use the assets/ directory to store your models, ckpts, etc..
assets/

# for hydra
multirun/
outputs/