# Existing project requirements
accelerate
blobfile
datasets
hydra-core
hydra-joblib-launcher
hydra-ray-jobs-launcher
hydra-submitit-launcher
hydra_colorlog
ipykernel
jupyter
lxml
matplotlib
numpy
omegaconf
openai
pandas
pre-commit
pycryptodomex
python-dotenv
pyvene
pyyaml
ray[default]
scikit-learn
seaborn
tiktoken
torch
tqdm
transformers==4.40.2
wandb

